img{display:inline-block;border:0;vertical-align: middle;}
/*header-----------------------------------------------------*/
header{
	width: 100%;
	height: .42rem;
	display: flex;
	align-items: center;
	padding-left:.16rem;
}
header .logo{
	width:.7rem;
	height:.16rem;
}
header .header_right{
	margin-left:.15rem ;
	flex: 1;
}
.header_right .search{
	display: inline-block;
	width: 76%;
	height: .28rem;
	line-height: .28rem;
	background: #f5f5f5;
	border-radius: .05rem;
}
.search span{
	  display: inline-block;
    width: .24rem;
    height: .24rem;
    background: url(../imgs/icon_Search.png) no-repeat;
    background-size: 100%;
    opacity: 0.5;
    vertical-align: middle;
    margin:0 .02rem ;
}
.header_right .login{
	width: 22%;
	display: inline-block;
	font-size: .12rem;
	text-align: center;
}
.login a{
	color: #494949;
}
.header_right .search{
	font-size: .1rem;
	color: #494949;
}
/*section---------------------------------------------------*/
section{
	flex: 1;
}
/*mint-ui swipe 轮播-------------------------------------------*/
.mint-swipe{
	width: 100%;
	overflow: hidden;
	height: 1.8rem;
}
/*.mint-swipe .mint-swipe-items-wrap{
	width: 300%;
	display: flex;
}
.mint-swipe-item{
	width: 100%;
}*/
.mint-swipe-item img{
	width: 3.75rem;
	height: 1.8rem;
}
/*.mint-swipe .mint-swipe-indicator{
	border: 1px solid #fff!important;
	opacity: 1!important;
	background: rgba(0,0,0,1)!important;
	margin: 0 .05rem!important;
}*/

/*section nav-------------------------------------*/
.nav ul{
	font-size: .1rem;
    overflow: hidden;
    height: .28rem;
    line-height: .28rem;
    color: #9b9b9b;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #f1f1f1;
}
.nav ul a{
	color: #494949;
	text-decoration: underline;
}
.nav ul li:before{
	content: "•";
    margin-right: .04rem;
    vertical-align: middle;
}
/*花的分类----------------------------------------------------*/
.pro_cate{
  width: 100%;
  height: .84rem;
  padding:.08rem 0 ;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #f1f1f1;
  align-items: center;
}
 a.proHua{
	display: block;
	width:20% ;
	text-align: center;
	color: #494949;
}
.pro_cate a.proHua img{
	width: .48rem;
}
 a.proHua span{
	display: block;
}
.flower_cate{
	height: .88rem;
	border-bottom: .07rem solid #f1f1f1;
}
.flower_cate a.proHua{
	border-right: 1px solid #f1f1f1;
}
.flower_cate a.proHua:last-child{
	border: none;
}
.flower_cate a.proHua img{
	width: .52rem;
}
/*商品列表------------------------------------*/
.modular{
	width: 100%;
	height: auto;
	border-bottom: .07rem solid #f1f1f1;
	padding-bottom: .18rem;
}
.modular .title{
	height: .45rem;
	overflow: hidden;
}
.title .title-line{
	width: 1.6rem;
	height: .01rem;
    background: #bbb;
    margin: 0 auto;
    transform: translateY(.22rem);
}
.title .title-name{
	width: .9rem;
    text-align: center;
    background: #fff;    
    font-size: .16rem;
    color: #222;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    line-height: .44rem;
}
.modular .pro_list{
	height: auto;
}
.pro_list ul{
	display: flex;
	flex-wrap: wrap;
	padding: 0 .08rem;
}
.pro_list .pro_item{
	border: 1px solid #efefef;
    padding: .04rem;
}
.pro_list li:nth-child(odd){
	padding-right: .04rem;
}
.pro_list li:nth-child(even){
	padding-left: .04rem;
}
.pro_list li{
    width: 50%;
    margin-bottom: .08rem;
}
.pro_list .pro_item img{
	width:100%;
}
.pro_infor{
    padding: .06rem .02rem;
}
.pro_infor .name{
	color: #232323;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    line-height: .14rem;
}
.pro_infor .detail{
	color: #777;
    font-size: .1rem;
    line-height: .14rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pro_infor .price{
	color: #222;
	line-height: .14rem;
}
.pro_infor .price:before{
	content: "￥";
	
}
.more{
	margin-top: .05rem;
}
.more .icon-more{
	display: block;
    width: 1.19rem;
    margin: 0 auto;
    height: .34rem;
    line-height: .34rem;
    font-size: .12rem;
    border: 1px solid #ddd;
    border-radius: .02rem;
    text-align: center;
    color: #777;
}
.more .icon-more:after{
	content: "";
    display: inline-block;
    width: .12rem;
    height:.12rem;
    background: url(../imgs/right.png) no-repeat center;
    background-size:.24rem .24rem;
    opacity: 0.7;
    vertical-align: middle;
    margin-top: -1px;
}
/*结束-----------------------------------------------------*/
.end{
	background: #fff;
    margin: .08rem 0 .48rem;
}
.end .end_nav{
	padding: .16rem 0;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #eee;
}
.end .end_nav li{
	height: .24rem;
	line-height: .24rem;
	text-align: center;
	background: #eeeeee;
}
.end .end_nav li a{
	display: block;
	width: .86rem;
	border-radius: .02rem;
}
.end .end_nav li:nth-child(2) a{
	width: .62rem;
}
.end .entrance{
  padding: .14rem 10%;
  height: .92rem;
}
.entrance li{
	float: left;
    width: 50%;
    text-align: center;
}
.entrance li span{
    width: .38rem;
    height: .59rem;
	display: inline-block;
}
.entrance .icon-phone{
	background: url(../imgs/end1.png) no-repeat center center;
	background-size: 100%;
}
.entrance .icon-kefu{
	background: url(../imgs/end2.png) no-repeat center center;
	background-size: 100%;
}
.copyright{
	/*height: .65rem;*/
	border-top: 1px solid #eee;
    font-size: .1rem;
    text-align: center;
    color: #ccc;
    padding: .16rem 0;
}
