#shopcar{    
    .shopcar_top{  
        line-height:.44rem;
        height:.44rem;       
        width:100%;
        padding:0 .12rem ;
        background:#fafafa;            
        display:flex;        
        justify-content:space-between;
        border-bottom:1px solid #e4e4e4;        
        span{
           font-size:.17rem; 
        }
        img{
            width:.24rem;
            height:.24rem; 
            margin-top:.1rem;             
        }
        
    }
    .box{
        font-size:.14rem;
        img{
            width:100%;
            margin:.3rem 0 .1rem 0;
        }
        p{
            font-size:.14rem;
            text-align:center;
            
        }
        a{
         width:1.1rem;
         display:block;
         height:.32rem;
         line-height:.32rem;         
         border:1px solid #fd6602;
         color:#fd6602;
         text-align:center;
         margin:.2rem auto;
         border-radius:.03rem;
        }
    }
}
